<div class="row">
    <div class="container"> 
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <h1 class="text-center login-title">{{pageTitle}}</h1>
            
            <form role="form" class=" form-horizontal" [ngFormModel]="form" (ngSubmit)="doLogin()">
              
            
                <div class="col-md-12">
                    <div class="form-group"> 
                        <input type="text" class="form-control input-lg" name="firstName" placeholder="First Name" ngControl="firstName" #firstName="ngForm"/>
                        <!--<div *ngIf = "firstName.touched && firstName.errors" class="form-spacer">
                            <div *ngIf="!firstName.valid" class="alert alert-danger"> 
                                <strong>First name required </strong>
                            </div>
                       
                        </div>-->
                        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger form-spacer">
                                <span> lastName is required </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"> 
                        <input type="text" class="form-control input-lg" name="lastName" placeholder="Last Name" ngControl="lastName" #lastName="ngForm" />
                        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger form-spacer">
                                lastName is required
                            </div>
                    </div>
                </div>
                    
                    <div class="form-group">
                        <label for="email" class=" sr-only control-label">Password</label>
                        <div class="col-md-12">
                            <input type="email" class="form-control input-lg" id="emailId" placeholder="Email" ngControl="email" #email="ngForm" >
                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger form-spacer">
                                email is required
                            </div>
                        </div>
                    </div>
                    
                    <!--password-->
                    <div class="col-md-12">
                        <div class="form-group"> 
                            <input type="password" class="form-control input-lg" name="password" placeholder="Password" ngControl="password" #password="ngForm" />
                            <div [hidden]="password.valid || password.pristine" class="alert alert-danger form-spacer">
                                Password is required
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-12">
                            <div class="form-group"> 
                                <input type="password" class="form-control input-lg" name="confirmPassword" placeholder="Confirm Password" ngControl="passwordConfirm" #passwordConfirm="ngForm" />
                                <div [hidden]="passwordConfirm.valid || passwordConfirm.pristine" class="alert alert-danger form-spacer">
                                Password is required
                            </div>
                            </div>
                    </div>
                    <!---->
                <button class="btn btn-lg btn-raised btn-primary btn-block" type="submit" [disabled]="!form.valid">Login</button> 
                <button class="btn btn-lg btn-raised btn-warning btn-block" >Reset Form</button> 

            </form>
        </div>
    </div>
      
</div>

