<div class="row">
    <div class="container"> 
        <div class="col-sm-6 col-md-6 col-md-offset-3">
            <h1 class="text-center login-title">{{pageTitle}}</h1>

            <form role="form" class=" form-horizontal" [ngFormModel]="form" (submit)="doLogin($event)">
                <div class="col-md-12">
                    <div class="form-group"> 
                        <input type="text" class="form-control" name="firstName" placeholder="First Name" ngControl="firstName" #firstName="ngForm"/>
                        <div *ngIf = "firstName.touched && firstName.errors" class="form-spacer">
                            <span *ngIf="!firstName.valid" class="alert alert-danger"> 
                                <strong>Username required </strong>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group"> 
                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" ngControl="lastName" #lastName="ngForm" />
                    </div>
                </div>
                    
                    <div class="form-group">
                        <label for="email" class=" sr-only control-label">Password</label>
                        <div class="col-md-12">
                            <input type="email" class="form-control" id="emailId" placeholder="Email" ngControl="email" #email="ngForm" >
                        </div>
                    </div>
                    
                    <!--password-->
                    <div class="col-md-12">
                        <div class="form-group"> 
                            <input type="password" class="form-control" name="password" placeholder="Password" ngControl="password" #password="ngForm" />
                        </div>
                    </div>
                
                    <div class="col-md-12">
                            <div class="form-group"> 
                                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" />
                            </div>
                    </div>
                    <!---->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button> 
            </form>
        </div>
    </div>
      
</div>

