<h1>Home of product descriptions </h1>

<div class="panel panel-primary"> 
    <div class="panel-body"> 
        <div class="row"> 
            <div class="col-md-2">Filter by: </div>
            <div class="col-md-4"> 
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div>
        
        <div class='col-md-4'>
            <h3>Filtered by:{{listFilter}} </h3>
        </div>
        <!--set up error message-->
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class="table-responsive"> 
            <table class="table" *ngIf='products && products.length'> 
                <thead> 
                    <tr> 
                        <th>Id:</th>
                        <th>BeerStyle:</th>
                        <th>IBU:</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#product of products |productFilter: listFilter"> 
                        <td>
                            <!--<a [routerLink]="['ProductDetail',{id:product.id}]">{{product.id}} </a> -->
                        </td>
                        <td>{{product.BeerStyle}} </td>
                        <td>{{product.IBU}} </td>
                        <td><ai-star [rating]="product.starRating" (ratingClicked)='onRatingClicked($event)'></ai-star> </td>
                 
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>